

div[class="p-splitbutton p-component run"] > button {
    /* all: unset; */
    border: unset;
    /* background: unset; */
    padding: unset;
}

div[class="p-splitbutton p-component run"] > button:hover {
    background: unset;
}